*.swp
*.png
*.svg
*.h5py
*.h5
**/images
**/data
**/data_test*
**/data_aisec*/
*.json
**/__pycache__
*.bak
**/esc-50
**/aclImdb
aclImdb_v1.tar.gz
*.log
**/stack_overflow
**/env
text/requirements.txt
utils/plots
*.zip
*.tar.gz
*.tar
